@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf)
      format(".ttf");
    src: url(../fonts/assets/Outfit/static/Outfit-Bold.ttf)
      format(".ttf");
  }
  @font-face {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    src: url(../fonts/Inter/Inter/Inter-VariableFont_slnt\wght.ttf)
      format(".ttf");
  }


body {
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.logo{
    margin-bottom: 70px;
    width: 150px;
    max-width: auto;  
}

.h1Results{
    font-size: 40px;
    padding-bottom: 5px;
}

.summary{
    font-size: 20px;
}



#results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.result-section {
  margin: 20px;
}
.result-section h1,
.result-section h2 {
  margin: 0;
}
#chart {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.button {
  background-color: #eaeaea17;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}
