@font-face {
    font-family: "Outfit";
    src: url(/assets/Outfit/Outfit-VariableFont_wght.ttf)
      format(".ttf");
    src: url(/assets/Outfit/static/Outfit-Bold.ttf)
      format(".ttf");
    font-size: x-large;
  }
  @font-face {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    src: url(/assets/Inter/Inter/Inter-VariableFont_slnt\,wght.ttf)
      format(".ttf");
  }
  body {
    background-image: url(../img/bg.jpg);
    width: 100%;
    max-width: 100%;
    color: white;
    margin: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .logo {
    margin-bottom: 70px;
    width: 150px;
    max-width: auto;
  }
  .feedback-container {
    text-align: center;


  }
.h1Title{
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    font-weight: 400px,bolder;
    font: bold;
    margin-bottom:35px ;

}


  .feedbackform{
    text-align: center;
  }
  textarea{
    margin: 20px auto;
    padding: 10 px;
    display: block;
    width: 80%;
    background: none;
    border-radius: 5px;
    border: 1px ;
    color: white;
    border-left: 0
    ;

  }

  