@font-face {
  font-family: "Outfit";
  src: url(..fonts/Outfit/Outfit-VariableFont_wght.ttf) format(".ttf");
  src: url(..fonts/Outfit/static/Outfit-Bold.ttf) format(".ttf");
  font-size: x-large;
}
@font-face {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  src: url(..fonts/Inter/Inter/Inter-VariableFont_slnt\wght.ttf) format(".ttf");
}

@font-face {
  font-family: "Static", Arial, Helvetica, sans-serif;
  src: url(../fonts/static/Teachers-Bold.ttf) format(".ttf");
}

body {
  background-image: url(../img/bg.jpg);
  width: auto;
  max-width: 100%;
  color: white;
  margin: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  min-height: 150px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.logo {
  margin-bottom: 70px;
  width: 150px;
  max-width: auto;
}

.Pfrom {
  font-size: 20px;
  line-height: 15px;
}

.feedback-container {
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 0%;
}

.starsRating {
  text-align: center;
}

.star {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 2px;
  cursor: pointer;
}
.hovered path,
.star.selected path {
  fill: #00ffff;
}

.h1Title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 45px;
}

.TitoloH1 {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Outfit", sans-serif;
}

.feedbackform {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

.containerTextarea {
  padding-top: 30px;
  text-align: center;
}

textarea {
  width: 70%;
  padding: 20px 10px 10px 10px;
  border: none;
  border-bottom: 2px solid #c2138d;
  background: none;
  color: white;
  outline: none;
  resize: none;
  font-size: 12px;
  word-spacing: 0px;
  line-height: 1px;
  margin-top: 2rem;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  background-color: #00ffff;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 30px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 0px 5px #00ffff, 0px 0px 20px #00ffff;
}

button:hover {
  box-shadow: 0px 0px 5px #00ffff, 0px 0px 9px #00ffff;
  cursor: pointer;
}
a {
  text-decoration: none;
}
