@font-face {
  font-family: "Outfit";
  src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf) format(".ttf");
  src: url(../fonts/assets/Outfit/static/Outfit-Bold.ttf) format(".ttf");
}
@font-face {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  src: url(../fonts/Inter/Inter/Inter-VariableFont_slnt\wght.ttf) format(".ttf");
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: white;
}
.logo {
  width: 200px;
  padding: 80px;
}
#timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
}

#time {
  font-size: 50px;
}

#question {
  text-align: center;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  padding: 60px;
}
#answer-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 10px;
  margin-left: 600px;
  margin-right: 600px;
}
.btn {
  position: relative;
  padding: 20px 50px;
  background: rgba(165, 164, 164, 0.185);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin: 5px;
}

.btn:hover {
  background: linear-gradient(135deg, #c2138d, #86116388);
}
.number {
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 50px;
  font-size: 22px;
}
.total {
  color: #c2138d;
}
.track {
  stroke: rgba(128, 128, 128, 0.281);
  stroke-width: 20;
  fill: none;
}
.progress {
  fill: none;
  stroke: rgb(46, 200, 228);
  stroke-width: 20;
  stroke-dasharray: 630;
  stroke-dasharray: 0;
}
