body {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  
  .logo{
      margin-bottom: 70px;
      width: 150px;
      max-width: auto;  
  }
  
  h1{
      font-size: 40px;
      padding-bottom: 5px;
      text-align: center;
  
  }
  
  .summary{
      font-size: 20px;
      text-align: center;
  
  }
  
  #results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .result-section {
    margin: 20px;
  }
  .result-section h1,
  .result-section h2 {
    margin: 0;
  }


  .button {
    background-color: #eaeaea17;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  #results {
    position: relative;
    width: 300px;
    height: 300px;
  }
  #resultsText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  }

  .email{
    font-size:smaller
  }
  
  #rateButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #1a1a40;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }