@font-face {
  font-family: "Outfit";
  src: url(/assets/Outfit/Outfit-VariableFont_wght.ttf)
    format(".ttf");
  src: url(/assets/Outfit/static/Outfit-Bold.ttf)
    format(".ttf");
  font-size: x-large;
}
body {
  background-image: url(/assets/bg.jpg);
  width: 100%;
  max-width: 100%;
  height: auto;
  font: 16px;
  color: white;
  margin: 80px;
}

.logo {
  margin-bottom: 70px;
  width: 150px;
  max-width: auto;
}

.h1Welcom {
  font-size: 60px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}

.strong {
  font-weight: bolder;
  font-size: 70px;
  font-family: "Outfit", sans-serif;
  font: bold;
}
.h6Instruction {
  font-style: #c2138d;
}
